@import "~amo/css/inc/vars";

.AddonReviewList {
  padding: 10px;
}

.AddonReviewList-header {
  margin: 15px 0;
  display: flex;

  .AddonReviewList-header-text {
    > h2,
    > h3 {
      font-size: 1.1em;
    }

    > h2 {
      margin: 0 0 5px;
      padding-top: 10px;
    }

    > h3 {
      font-weight: normal;
      margin: 0;
    }

    a:link,
    a:visited,
    a:hover,
    a:active {
      color: $primary-font-color;
      font-weight: normal;
      text-decoration: none;
    }
  }

  .AddonReviewList-header-icon {
    margin: 0 20px;
  }
}

.AddonReviewList-li {
  word-break: break-all;

  > h3 {
    margin: 0;
    padding: 0;
  }

  > p {
    font-size: $font-size-default;
    margin: 0 0 5px;
  }

  .AddonReviewList-by-line {
    color: $sub-text-color;
    display: flex;
    font-size: $font-size-s;
  }

  .Rating {
    margin: 0 5px 0 0;
  }
}
