@import "~core/css/inc/vars";

.ErrorHandler-list {
  background-color: $error-background-color;
  border-radius: $border-radius-default;
  color: $error-text-color;
  margin: 0;
  margin-bottom: 10px;
  padding: 10px;
  text-align: center;
}

.ErrorHandler-list-item {
  list-style: none;
}
